* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    background: rgb(238, 238, 238);
}
.nav-left {
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(102, 102, 102);
}
.nav-list {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    text-indent: 2em;
    cursor: pointer;
    background: #8f8f8f;
    border-bottom: 1px solid #a8a8a8;
}

.nav-list.active {
    color: #ffffff;
    cursor: initial;
    background-color: #159492;
}

.main {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}