<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>控制台</title>
    <script src="./web.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/request.js"></script>
</head>
<body>
    <div class="nav-left">
        <div class="nav-list active">配置</div>
        <div class="nav-list">文档</div>
    </div>
    <div class="main">
        <div class="doc">
            主页
        </div>
    </div>
    <script>
        $(function () {
            // 请求
            mockApi.getListApi(function (data) {
                console.log(data,'');
            })
            // 选项卡
            let activeIndex = 0;
            $('.nav-list').click(function () {
                var that = $(this);
                if(that.index() === activeIndex) {
                    return;
                }
                that.addClass('active').siblings().removeClass('active')
                activeIndex = that.index()
            })
            
            // 请求
        })
    </script>
</body>
</html>