<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>控制台</title>
    <script src="./web.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/request.js"></script>
</head>
<body>
    <div class="nav-left">
        <div class="nav-list">doc</div>
    </div>
    <div class="main">
        <div class="doc">
            主页
        </div>
    </div>
    <script>
        $(function () {
            
        })
    </script>
</body>
</html>